
        :root {
    --primary-color: #1a3070;
    --secondary-color: #f3b54a;
    --accent-color: #ec1a3c;
    --darker-accent-color: #c91633;
    --background-color: #f8f8f8;
    --text-color: #333;
}


body, h2, h4, th, td, input, button, select {
    font-weight: 700;
}

.resource-topics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    transition: opacity 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

.resource-topics.hidden {
    opacity: 0;
    visibility: hidden;
}

.topic-box {
    background-color: var(--primary-color);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
    color: var(--text-color);
}

.topic-box:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: var(--secondary-color);
}

.topic-box h4 {
    font-weight: 700;
    color: white;
}

/* Responsive styles */
@media (max-width: 1200px) {
    .resource-topics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .resource-topics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .resource-topics {
        grid-template-columns: 1fr;
    }
}

/* Materials section */
.materials-section {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: margin-left 0.3s ease; /* Add transition for smooth adjustment */
}

.materials-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.materials-item {
    display: flex;
    margin-bottom: 40px; /* Increased margin-bottom for greater vertical separation */
    padding-bottom: 20px; /* Add padding to avoid overlap with horizontal line */
    border-bottom: 1px solid var(--primary-color); /* Add horizontal line */
}

.materials-image {
    flex: 1;
    padding-right: 20px;
}

.materials-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.materials-info {
    flex: 2;
}

.materials-title {
    font-weight: 700;
    color: var(--primary-color);
}

.materials-description {
    margin-bottom: 10px;
    font-weight: 700;
}

.learn-more-button {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
}

.learn-more-button:hover {
    background-color: var(--darker-accent-color);
}

/* resources section */
.resources-section {
    margin-top: 20px;
    transition: margin-left 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

.resources-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.resources-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
}

.resources-table th, .resources-table td {
    border: 1px solid var(--primary-color);
    padding: 8px;
    font-weight: 700;
}

.resources-table th {
    background-color: var(--secondary-color);
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
}

.resources-table th.sort-asc::after {
    content: ' \25B2'; /* Up arrow */
}

.resources-table th.sort-desc::after {
    content: ' \25BC'; /* Down arrow */
}

.resources-table tr:nth-child(even) {
    background-color: var(--primary-color);
    color: white;
}

.resources-table tr:nth-child(odd) {
    background-color: white;
    color: var(--primary-color);
}

.resources-table tr:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

/* references section */
.references-section {
    margin-top: 20px;
    transition: margin-left 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
}

.references-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.references-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
}

.references-table th, .references-table td {
    border: 1px solid var(--primary-color);
    padding: 8px;
    font-weight: 700;
}

.references-table th {
    background-color: var(--secondary-color);
    text-align: left;
    cursor: pointer;
    color: var(--text-color);
}

.references-table th.sort-asc::after {
    content: ' \25B2'; /* Up arrow */
}

.references-table th.sort-desc::after {
    content: ' \25BC'; /* Down arrow */
}

.references-table tr:nth-child(even) {
    background-color: var(--primary-color);
    color: white;
}

.references-table tr:nth-child(odd) {
    background-color: white;
    color: var(--primary-color);
}

.references-table tr:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.return-button {
    background-color: var(--accent-color);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 700;
}

.return-button:hover {
    background-color: var(--darker-accent-color);
}


/* Responsive styles */
@media (max-width: 1200px) {
    .resource-topics {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .resource-topics {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .resource-topics {
        grid-template-columns: 1fr;
    }
}


/* Center search and sort controls */
.search-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.search-controls input, .search-controls select, .search-controls button {
    padding: 10px;
    font-weight: 700;
}

.align-right {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

/* Navigation bar styling */
/* Navigation bar styling */
.navigation-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background-color: #061531;
            padding: 10px 20px;
            box-sizing: border-box;
            margin-bottom: 80px; /* Adjust this value to change the space */
        }

        .nav-options {
            display: flex;
            gap: 20px;
        }

        .nav-item {
            color: white;
            text-transform: uppercase;
            cursor: pointer;
            transition: color 0.3s ease;
        }

        .nav-item:hover,
        .nav-item.selected {
            color: var(--accent-color);
        }

        .learn-more-button.nav-home {
            background-color: var(--accent-color);
            color: white;
            text-decoration: none;
            border-radius: 5px;
            font-weight: 700;
            padding: 10px 20px;
            transition: background-color 0.3s ease;
        }

        .learn-more-button.nav-home:hover {
            background-color: var(--darker-accent-color);
        }

        /* Add these styles to your existing CSS */

/* Popup overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden; /* Prevent scrolling */
}

/* Popup content */
.popup {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    max-height: 80%;
    overflow-y: auto; /* Allow scrolling inside the popup */
    z-index: 1001;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--accent-color);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: 700;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.blur-background {
    filter: blur(5px);
    pointer-events: none; /* Prevent interaction with the blurred background */
}

body.popup-open {
    overflow: hidden; /* Prevent background scrolling */
}

/* Make materials-info section clickable */
.materials-item {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.materials-item:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Hide the learn-more-button in the materials-info by default */
.materials-info .learn-more-button {
    display: none;
}
    